/* 全網頁半透明層 */
.addWebsiteMunu{
    display: none;
    position: fixed;

    /* 從左上角開始 */
    top: 0;
    left: 0;

    /* 覆蓋整個瀏覽器, width由左往右延伸 height從上往下 */
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.5); /*半透明黑色背景*/

    justify-content: center;
    align-items: center;
}

.menu-content{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 30vw;
    text-align: center;

    /* 提供子元素 position: absolute; 的移動基準 */
    position: relative;
}

#closeBtn{
    float: right; /* 把按鈕放到右上 */
    cursor: pointer;
    font-size: 2rem;


    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.addWebsiteText{
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    margin-top: 4rem;
}

.webInput{
    font-size: 1rem;
    font-style: bold;
    height: 2rem;
    width: auto;
    margin-top: -1rem;
}

#addWebBtn{
    display: inline-block;
    background-color: coral;
    margin-top: 4rem;
    padding: 1rem 2rem;
    border: 0.3rem solid rgb(219, 90, 43);
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    border-radius: 10%;
    font-size: 1.5rem;
}

#addWebBtn:hover{
    cursor: pointer;
    background-color: rgb(247, 113, 65);
}

#webIcon{
    display: inline-block;
    background-color: rgb(108, 173, 55);
    padding: 1rem 2rem;
    border: 0.3rem solid rgb(67, 110, 32);
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    border-radius: 10%;
    font-size: 1.5rem;
}

#webIcon:hover{
    cursor: pointer;
    background-color: rgb(93, 148, 47);
}

#addedWebs{
    display: flex;

    /* 讓各個網站先排滿一整個row才換行 */
    align-items: center;
    flex-wrap: wrap;

}